<div *ngIf="isAdmin(); else userDashboard">
  <h1>Admin Dashboard</h1>
  <div>
    <p>Total Users: {{ stats.totalUsers }}</p>
    <p>Total CVs: {{ stats.totalCvs }}</p>
    <p>Total Posts: {{ stats.totalPosts }}</p>
    <p>Total Etudiant Users: {{ stats.totalEtudiantUsers }}</p>
    <p>Total RH Users: {{ stats.totalRhUsers }}</p>
  </div>
</div>

<ng-template #userDashboard>
  <h1>User Dashboard</h1>
  <div>
    <p>Total Users: {{ stats.totalUsers }}</p>
    <p>Total CVs: {{ stats.totalCvs }}</p>
    <p>Total Posts: {{ stats.totalPosts }}</p>
    <p>Total Etudiant Users: {{ stats.totalEtudiantUsers }}</p>
    <p>Total RH Users: {{ stats.totalRhUsers }}</p>
  </div>
</ng-template>