<mat-card *ngFor="let application of applications" class="post-card">
  <mat-card-header>
    <mat-card-title>candidature N: {{application.postId}} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Candidature du: {{ application.creatAt | date }}</p>
  </mat-card-content>
</mat-card>
<mat-paginator
  [length]="totalElements"
  [pageSize]="size"
  [pageSizeOptions]="[5, 10, 25, 100]"
  [pageIndex]="page"
  (page)="onPageChange($event)"
  aria-label="Select page of posts">
</mat-paginator>
